@use '../helpers/' as *;

.news-card{
    
    height: 100%;
    display: grid;
    row-gap: rem(20);

    @include laptop{
        row-gap: rem(16);
    }

    @include mobile{
        row-gap: rem(10);
    }
    
    &:has(.news-card__summary){
        
        column-gap: rem(80);

        @include laptop{
            column-gap: rem(40);
        }

        @include mobile-above{
            padding-block: fluid(80, 40);
            align-items: center;
            grid-template-areas: 
                'image other'
                'image other'
                'image other'
            ;
            grid-template-columns: 32% 1fr;
        }

        .news-card{
            &__image{
                height: fluid(427, 213);

                @include mobile-above{
                    grid-area: image;
                }  
            }
            
            &__title{
                @include fluid-text(32, 20);

                font-family: var(--font-family-base);
                font-weight: 600;
            }
        }
    }

    &__image{
        width: 100%;
        height: rem(222);
        object-fit: cover;
        border-radius: rem(12);

        @include laptop{
            height: rem(185);
            border-radius: rem(10);
        }
    }

    &__body{
        display: grid;
        row-gap: rem(10);

        @include laptop{
            row-gap: rem(4);
        }
    }

    &__controls{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }

    &__link{
        @include mobile-s{
            min-width: rem(153);
        }
    }
}