@font-face {
    font-family: 'Kumbh Sans';
    src: url(../fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_24pt-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_24pt-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_24pt-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_24pt-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}